@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/** CSS RESETS **/
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
    font-size: 16px;
    ;
    color: #333;
    background-color: #F3F4F6;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: yellow;
}

h1,
h2,
p,
li {
    margin: 10px 0;
}

h1 {
    font-size: 46px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

.hero {
    height: 60vh;
    padding: 10px;
    background-image: linear-gradient(45deg, rgba(224, 224, 75, 0.9) 0%, rgb(255, 255, 0, 0.9) 100%),url("https://images.all-free-download.com/images/graphicwebp/background_coloured_green_236164.webp");
}

.hero-content {
    width: 80%;
    margin: 0 auto;
}

.hero-content .title {
    margin: 100px;
}

.nav {
    position: fixed;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 999;
    background-color: #000;
    color: yellow;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: rgb(80, 80, 80) 0px 7px 19px 0px;
}

.nav:hover {
    color: #000;
    background-color: yellow;
}

.title {
    text-align: center;
}

main {
    background-color: #fff;
    width: 80%;
    margin: -150px auto 50px auto;
    border-radius: 15px;
    box-shadow: #4b4d50 0px 7px 29px 0px;
}

.section-header img {
    border-radius: 15px 15px 0 0;
}

.section-content {
    padding: 60px;
}

.section-content.home {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.recipe-pic {
    height: 400px;
    width: 100%;
}